asgiref==3.11.1
asttokens==3.0.1
black==26.3.1
bootstrap4==0.1.0
click==8.3.1
colorama==0.4.6
decorator==5.2.1
Django==6.0.3
django-cors-headers==4.9.0
django-countries==8.2.0
dotenv==0.9.9
executing==2.2.1
flake8==7.3.0
ipython==9.8.0
ipython_pygments_lexers==1.1.1
isort==7.0.0
jedi==0.19.2
matplotlib-inline==0.2.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
parso==0.8.5
pathspec==1.0.0
pillow==12.2.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pure_eval==0.2.3
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
python-dotenv==1.2.2
pytokens==0.4.0
redis==7.1.0
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.15.0
tzdata==2026.1
wcwidth==0.2.14
